@using Gfk.Mvc.Models.Entities;
@model ParentEntity

<h2>Yeni Oyuncu Ekle</h2>

<div class="container d-block mb-5">
    <div class="container col-9 justify-content-center bg-light pt-5 pb-5" style="border-radius:25px;">
        <div class="d-block">
            <div class="d-flex justify-content-end">
                <a asp-controller="Player" asp-action="List" class="btn btn-danger">
                    <i id="pageButtonsFonts" class="fa-solid fa-backward fa-lg" style="color: #ffffff;"> Liste </i>
                </a>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <form asp-action="CreateParent" asp-controller="Parent" method="post">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Ad:</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Surname" class="form-label">Soyad:</label>
                    <input asp-for="Surname" class="form-control" />
                    <span asp-validation-for="Surname" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Phone" class="form-label">GSM:</label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>


                <div class="mb-3">
                    <label asp-for="Email" class="form-label">E-Mail:</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Job" class="form-label">Not: </label>
                    <input asp-for="Job" class="form-control" placeholder="Belirtmek istediğiniz not var ise giriniz..." />
                    <span asp-validation-for="Job" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="IdentificationNumber" class="form-label">T.C Kimlik No:</label>
                    <input asp-for="IdentificationNumber" class="form-control" />
                    <span asp-validation-for="IdentificationNumber" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-danger">İlerle</button>
            </form>
        </div>
    </div>
</div>







@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}