@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link src="~/css/styleForm.css" />
</head>
<body>
    <div class="flex justify-center items-center min-h-screen bg-[#b2b2b2]">
        <div class="card h-[600px] my-20 w-[340px] rounded-lg overflow-hidden md:w-[700px] flex bg-white">
            <div class="relative md:w-1/2 hidden md:block">
                <img src="https://i.pinimg.com/564x/7d/4a/84/7d4a8422157740e599769f1ead51db45.jpg">
                <p class="font-mono absolute top-4 left-4 text-white font-bold text-2xl ">Gaziemir</p>
                <p class="absolute top-4 left-4 text-white absolute top-11 left-4 font-medium">
                    Futbol Kulübü
                </p>
            </div>
            <div class="p-4 md:w-1/2 w-full bg-[#d7d6d6]">
                <ul class="pbar">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <div class="main block">
                    <div class="flex flex-col justify-center items-center mt-10">
                        <p class="text-2xl font-bold">Sign up</p>
                        <p class="text-sm mt-2">
                            Already have an account? <a class="text-blue-600" href="#">Log in</a>
                        </p> <button class="mt-5 h-12 w-full flex justify-center items-center bg-white rounded-lg text-sm font-semibold cursor-pointer transition-all hover:bg-[#f1eeee] ">
                            <img class="mr-1" src="https://imgur.com/vLtArRw.png" width=22>Sign up with Google
                        </button>
                        <p class="mt-3 text-sm">or</p>
                    </div>
                    <div class="relative mt-7">
                        <input class="h-12 rounded-lg border border-white transition-all focus:border-blue-900 w-full px-2 outline-none text-sm"
                               type="text" placeholder="hello@writer-miller.co" require> <span class="absolute text-[#797979] left-0 -top-6 transition-all text-sm">Email Address</span>
                    </div>
                    <div class="relative mt-9">
                        <input class="h-12 rounded-lg border border-white transition-all focus:border-blue-900 w-full px-2 outline-none text-sm"
                               type="password" placeholder="*******" require> <span class="absolute text-[#797979] left-0 -top-6 transition-all text-sm">Password</span>
                    </div>
                    <div class="flex flex-col justify-center items-center mt-8">
                        <button class="join h-12 w-full cursor-pointer transition-all hover:bg-[#101010] rounded-lg text-sm text-white bg-[#333333]">
                            Join
                        </button>
                        <p class="text-sm my-7">
                            By joining you agree to the <a class="text-blue-900" href="#">
                                Terms of
                                Poilicy
                            </a>
                        </p>
                    </div>
                </div>
                <div class="main hidden">
                    <div class="relative flex flex-col justify-center items-center mt-10">
                        <p class="text-xl font-bold text-center">
                            Complete the following steps to configure your profile.
                        </p> <span class="mt-2 h-20 w-20 rounded-full border overflow-hidden">
                            <img class="h-full w-full object-cover" src="https://imgur.com/YkzeCbq.jpg">
                        </span> <i class="back absolute -top-11 left-0 text-lg fa fa-arrow-left cursor-pointer "></i>
                    </div>
                    <div class="relative mt-7">
                        <input class="h-12 rounded-lg border border-white transition-all focus:border-blue-900 w-full px-2 outline-none text-sm"
                               type="text" placeholder="John Walter Miller" require> <span class="absolute text-[#797979] left-0 -top-6 transition-all text-sm">Full name</span>
                    </div>
                    <div class="relative mt-9">
                        <input class="h-12 rounded-lg border border-white transition-all focus:border-blue-900 w-full px-2 outline-none text-sm"
                               type="text" placeholder="Austin,TX" require> <span class="absolute text-[#797979] left-0 -top-6 transition-all text-sm">Location</span>
                    </div>
                    <div class="relative mt-9">
                        <input class="h-12 rounded-lg border border-white transition-all focus:border-blue-900 w-full px-2 outline-none text-sm"
                               type="number" require> <span class="absolute text-[#797979] left-0 -top-6 transition-all text-sm">Phone number</span>
                    </div>
                    <div class="flex flex-col justify-center items-center mt-8">
                        <button class="cont mb-5 h-12 w-full cursor-pointer transition-all hover:bg-[#101010] rounded-lg text-sm text-white bg-[#333333]">
                            Continue
                        </button>
                    </div>
                </div>
                <div class="main hidden">
                    <div class="flex relative flex-col justify-center items-center mt-10">
                        <p class="text-xl font-bold">Subscription Period</p>
                        <p class="text-sm mt-1 text-center">
                            Copies are hand delivered each morning to the addresses in
                            Austin,Dalias and Houston.Elsewhere copies are posted to arrive 1-2 days after publication.
                        </p> <i class="back absolute -top-11 left-0 text-lg fa fa-arrow-left cursor-pointer "></i>
                    </div>
                    <div class="flex mt-5 gap-2 w-full">
                        <input class="hidden" type="radio" name="rr" id="r1"> <label class="mt-6 rounded cursor-pointer transition-all flex text-center flex justify-center flex-col h-32 w-1/2 border"
                                                                                     for="r1">
                            <p class="text-center text-sm font-semibold text-[#757575]">Digital Only</p>
                            <p class="font-semibold text-lg mt-1">$9/month</p>
                            <p class="text-xs mt-1">Architech apps your smartphone and tablet.</p>
                        </label> <input class="hidden" type="radio" name="rr" id="r2"> <label class="mt-6 rounded cursor-pointer transition-all flex text-center flex justify-center flex-col h-32 w-1/2 border"
                                                                                              for="r2">
                            <p class="text-center text-sm font-semibold text-[#757575]">Monthly</p>
                            <p class="font-semibold text-lg mt-1">$18/month</p>
                            <p class="text-xs mt-1">Daily delivery to home,office + apps.</p>
                        </label> <input class="hidden" type="radio" name="rr" id="r3"> <label class="mt-6 rounded cursor-pointer transition-all flex text-center flex justify-center flex-col h-32 w-1/2 border"
                                                                                              for="r3">
                            <p class="text-center text-sm font-semibold text-[#757575]">Annualy</p>
                            <p class="font-semibold text-lg mt-1">$198/year</p>
                            <p class="text-xs mt-1">Daily delivery to home,office + apps.</p>
                        </label>
                    </div>
                    <div class="flex flex-col justify-center items-center mt-10">
                        <button class="cont h-12 mb-5 w-full cursor-pointer transition-all hover:bg-[#101010] rounded-lg text-sm text-white bg-[#333333]">
                            Continue
                        </button>
                    </div>
                </div>
                <div class="main hidden">
                    <div class="flex relative flex-col justify-center items-center mt-10">
                        <p class="text-2xl font-bold">Payment method</p>
                        <p class="text-sm mt-2">Annual payment of</p>
                        <p class="text-xl font-bold mt-1">$198</p> <i class="back absolute -top-11 left-0 text-lg fa fa-arrow-left cursor-pointer "></i>
                    </div>
                    <div class="relative mt-7">
                        <input class="h-12 rounded-lg border border-white transition-all focus:border-blue-900 w-full px-2 outline-none text-sm"
                               type="text" placeholder="John Walter Miller"> <span class="absolute text-[#797979] left-0 -top-5 transition-all text-sm">Cardholder name</span>
                    </div>
                    <div class="relative mt-8">
                        <input class="h-12 rounded-lg pr-16 border border-white transition-all focus:border-blue-900 w-full px-2 outline-none text-sm"
                               type="text" placeholder="0000 0000 0000 0000" data-slots="0" data-accept="\d" size="19"
                               require> <span class="absolute text-[#797979] left-0 -top-5 transition-all text-sm">
                            Card
                            number
                        </span> <img class="cursor-pointer absolute right-2 top-1"
                                     src="https://imgur.com/GN9NfGu.png" width=40>
                    </div>
                    <div class="w-full flex gap-5">
                        <div class="relative w-full mt-8">
                            <input class="h-12 rounded-lg pr-16 border border-white transition-all focus:border-blue-900 w-full px-2 outline-none text-sm"
                                   type="text" placeholder="mm/yyyy" data-slots="my" require> <span class="absolute text-[#797979] left-0 -top-5 transition-all text-sm">Expiry date</span>
                        </div>
                        <div class="relative w-full mt-8">
                            <input class="h-12 rounded-lg pr-16 border border-white transition-all focus:border-blue-900 w-full px-2 outline-none text-sm"
                                   type="text" placeholder="000" data-slots="0" data-accept="\d" size="3" require> <span class="absolute text-[#797979] left-0 -top-5 transition-all text-sm">CVV</span>
                        </div>
                    </div>
                    <div class="flex flex-col justify-center items-center mt-8">
                        <button class="pay h-12 mb-5 w-full cursor-pointer transition-all hover:bg-[#101010] rounded-lg text-sm text-white bg-[#333333]">
                            Pay
                            and end process
                        </button>
                    </div>
                </div>
                <div class="main hidden">
                    <div class="flex flex-col justify-center items-center mt-10">
                        <p class="text-2xl font-bold">Congratulations</p>
                        <p class="text-center text-sm mt-2 font-semibold">
                            Thanks Mr./Mrs. <span class="shownname text-green-500 "></span> for purchasing our subscription card.
                        </p>
                    </div> <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
                        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                    </svg>
                    <p class="text-center mb-5 text-sm mt-2 text-green-700 ">
                        Delhivery is committed to safeguarding the
                        confidentiality, integrity and availability of all physical and electronic information assets of
                        the organization. We ensure that the regulatory, operational and contractual requirements are
                        fulfilled.
                    </p>
                </div>
            </div>
        </div>
    </div>




    <script src="~/js/scriptForm.js"></script>
    <script src="https://cdn.tailwindcss.com/3.0.12"></script>
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.cssa"></script>
</body>
</html>