<style>
    .bg-light {
        /* Kırmızı arka plan rengi */
        background-color: #ff4444;
        /* Daha iyi görsellik için yuvarlak köşeler */
        border-radius: 8px;
        /* Kabarık görünüm için gölge efekti */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5), 0 12px 40px rgba(0, 0, 0, 0.5);
        /* Kutunun içeriğine göre padding */
        padding: 16px;
        /* Kutu içerisindeki her şeyin merkezlenmesi */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>

<div class="container d-flex justify-content-center my-5">
    <div class="col-6 bg-light ">
        <div class="py-3">
            <h4 class="display-6">Tebrikler !!!</h4>
        </div>
        <div class="text-center">
            <img class="w-50" src="https://sortitoutsi.b-cdn.net/uploads/team/70136085.png" alt="">
        </div>
        <div class="py-3">
            <h6>Hoşgeldin @@userName</h6>
        </div>
        <div>
            <p class="text-muted">
                Hesabınız Aktive Edildi! Sizleri de aramızda görmekten
                gerçekten çok
                güzel. Hadi gelin, çocuklarımızın bu heyecan dolu yolculuğuna birlikte şahitlik edelim.
            </p>

            <h5>Sayın Velimiz,</h5>

            <p class="text-muted">
                Gaziemir Futbol Kulübü ailesine hoş geldiniz! Size harika haberlerimiz var; hesabınız
                başarıyla aktive edildi ve artık kulübümüzün bir üyesi oldunuz. Futbol tutkumuz ve spor
                sevgimizle dolu bir deneyim yaşamaya hazır mısınız?
            </p>

            <p class="text-muted">
                Kulübümüzün resmi web sitesine buradan tıklayarak giriş yapabilirsiniz. Hesabınıza giriş
                yaptığınızda, çocuğunuzun antrenman programları, maç takvimleri ve kulüp etkinlikleri
                gibi
                önemli bilgilere kolayca erişebilirsiniz. Ayrıca, kulübümüzün son haberleri ve
                duyuruları
                hakkında da bilgi sahibi olabilirsiniz.
            </p>

            <p class="text-muted">
                Unutmayın, Gaziemir FK olarak her zaman spor etiği, disiplin ve takım ruhu konusunda
                öğrencilerimize değer veriyoruz. Siz ve çocuğunuzla birlikte, başarılarımızın ve spor
                sevincimizin bir parçası olacağınıza inanıyoruz.
            </p>

            <p class="text-muted">
                Eğer herhangi bir sorunuz veya yardıma ihtiyacınız varsa, lütfen bizimle
                iletisim@futbolkulubu.com adresinden iletişime geçmekten çekinmeyin. Size yardımcı
                olmaktan
                mutluluk duyarız.
            </p>

            <p class="text-muted">
                Çocuğunuzun sporculuk deneyimini daha da özel kılmak için buradayız. Birlikte büyük
                başarılara imza atacağımıza inanıyoruz!
            </p>

            <p class="text-muted">Saygılarımla,</p>

            <blockquote class="text-muted">
                Ercan Serezli <br>
                Gaziemir Futbol Kulübü <br>
                İletişim: info@gaziemirfk.com <br>
                Web Sitesi: <span style="color: blue;">
                    <a href="https://www.gaziemirfk.com">
                        https://www.gaziemirfk.com
                    </a>
                </span>
            </blockquote>

            <hr>

            <p style="margin: 0; margin-bottom: 10px;">Bizi takip edebilirsin:</p>
            <div>
                <a style="padding-right:10px" href="https://www.instagram.com/gaziemirfk_altyapi/">
                    <img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" width="25">
                </a>
                <a href="https://twitter.com/suraj_vsk">
                    <img src="https://cdn-icons-png.flaticon.com/512/733/733579.png" width="25">
                </a>
            </div>
        </div>
    </div>
</div>