<div class="text-center mt-5" style="height: 50%;">
    <img style="width:50%;" src="https://media.istockphoto.com/id/1364971537/tr/foto%C4%9Fraf/privacy-policy-notice-and-legal-agreement.jpg?s=2048x2048&w=is&k=20&c=KwWDhE-hBjXNvAlP7mi9uYg1qvYh3p8wF65MA3fDW20=" class="rounded" alt="...">
</div>
<div class="container d-flex justify-content-center align-items-center" style="height:50%;">
    <div class="col-4">
        <div class="card bg-danger text-white">
            <div class="card-header">
                Privacy
            </div>
            <div class="card-body">
                <h5 class="card-title">Gizlilik Politikası</h5>
                <p class="card-text">Son güncellenme: 27/10/2023</p>
                <a asp-controller="Privacy" asp-action="PrivacyPolicy" class="btn btn-outline-light">Devamını Oku...</a>
            </div>
        </div>
    </div>
    <div class="col-4 ms-3 me-3">
        <div class="card bg-danger text-white">
            <div class="card-header">
                Privacy
            </div>
            <div class="card-body">
                <h5 class="card-title">Kullanım Koşulları</h5>
                <p class="card-text">Son güncellenme: 27/10/2023</p>
                <a asp-controller="Privacy" asp-action="TermsOfUse" class="btn btn-outline-light">Devamını Oku...</a>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card bg-danger text-white">
            <div class="card-header">
                Privacy
            </div>
            <div class="card-body">
                <h5 class="card-title">Çerez Politikası</h5>
                <p class="card-text">Son güncellenme: 27/10/2023</p>
                <a asp-controller="Privacy" asp-action="CookiePolicy" class="btn btn-outline-light">Devamını Oku...</a>
            </div>
        </div>
    </div>
</div>