<div class="container">
    <div class="row text-white-75 justify-content-center">
        <div class="col">
            <div class="row">
                <div class="col mt-3 mb-3">
                    <div class="card text-bg-white">
                        <div class="card-header">
                            <h1>Gizlilik Politikası</h1>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <p>Son güncellenme: 27/10/2023</p>
                                <p>
                                    Güvenliğiniz bizim için önemli. Bu sebeple bizimle paylaşacağınız kişisel verileriz hassasiyetle korunmaktadır.
                                </p>
                                <p>
                                    Biz, Gaziemir Futbol Kulübü Derneği, veri sorumlusu olarak, bu gizlilik ve kişisel verilerin korunması politikası ile,
                                    hangi kişisel verilerinizin hangi amaçla işleneceği, işlenen verilerin kimlerle ve neden paylaşılabileceği,
                                    veri işleme yöntemimiz ve hukuki sebeplerimiz ile; işlenen verilerinize ilişkin haklarınızın neler olduğu
                                    hususunda sizleri aydınlatmayı amaçlıyoruz.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card text-bg-white mt-3">
                        <div class="card-header">
                            <h2>Toplanan Kişisel Verileriniz, Toplanma Yöntemi ve Hukuki Sebebi</h2>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <p>
                                    IP adresiniz ve kullanıcı aracısı bilgileriniz, sadece analiz yapmak amacıyla ve çerezler (cookies) vb.
                                    teknolojiler vasıtasıyla, otomatik veya otomatik olmayan yöntemlerle ve bazen de analitik sağlayıcılar,
                                    reklam ağları, arama bilgi sağlayıcıları, teknoloji sağlayıcıları gibi üçüncü taraflardan elde edilerek,
                                    kaydedilerek, depolanarak ve güncellenerek, aramızdaki hizmet ve sözleşme ilişkisi çerçevesinde ve süresince,
                                    meşru menfaat işleme şartına dayanılarak işlenecektir.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card text-bg-white mt-3">
                        <div class="card-header">
                            <h2>Kişisel Verilerinizin İşlenme Amacı</h2>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <p>
                                    Bizimle paylaştığınız kişisel verileriniz sadece analiz yapmak suretiyle; sunduğumuz hizmetlerin
                                    gerekliliklerini en iyi şekilde yerine getirebilmek, bu hizmetlere sizin tarafınızdan ulaşılabilmesini
                                    ve maksimum düzeyde faydalanılabilmesini sağlamak, hizmetlerimizi, ihtiyaçlarınız doğrultusunda
                                    geliştirebilmek ve sizleri daha geniş kapsamlı hizmet sağlayıcıları ile yasal çerçeveler içerisinde
                                    buluşturabilmek ve kanundan doğan zorunlulukların (kişisel verilerin talep halinde adli ve idari makamlarla paylaşılması)
                                    yerine getirilebilmesi amacıyla, sözleşme ve hizmet süresince, amacına uygun ve ölçülü bir şekilde
                                    işlenecek ve güncellenecektir.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card text-bg-white mt-3">
                        <div class="card-header">
                            <h2>Toplanan Kişisel Verilerin Kimlere ve Hangi Amaçlarla Aktarılabileceği</h2>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <p>
                                    Bizimle paylaştığınız kişisel verileriniz; faaliyetlerimizi yürütmek üzere hizmet aldığımız ve/veya
                                    verdiğimiz, sözleşmesel ilişki içerisinde bulunduğumuz, iş birliği yaptığımız, yurt içi ve yurt dışındaki
                                    3. şahıslar ile kurum ve kuruluşlara ve talep halinde adli ve idari makamlara, gerekli teknik ve idari
                                    önlemler alınması koşulu ile aktarılabilecektir.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card text-bg-white mt-3">
                        <div class="card-header">
                            <h2>Kişisel Verileri İşlenen Kişi Olarak Haklarınız</h2>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <p>KVKK madde 11 uyarınca herkes, veri sorumlusuna başvurarak aşağıdaki haklarını kullanabilir:</p>
                                <ol type="a">
                                    <li>Kişisel veri işlenip işlenmediğini öğrenme,</li>
                                    <li>Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,</li>
                                    <li>Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,</li>
                                    <li>Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,</li>
                                    <li>Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme,</li>
                                    <li>Kişisel verilerin silinmesini veya yok edilmesini isteme,</li>
                                    <li>(e) ve (f) bentleri uyarınca yapılan işlemlerin, kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,</li>
                                    <li>İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,</li>
                                    <li>Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme, haklarına sahiptir.</li>
                                </ol>
                                <p>
                                    Yukarıda sayılan haklarınızı kullanmak üzere gaziemirfk@gmail.com üzerinden bizimle iletişime geçebilirsiniz.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card text-bg-white mt-3">
                        <div class="card-header">
                            <h2>İletişim</h2>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <p>
                                    Sizlere hizmet sunabilmek amaçlı analizler yapabilmek için, sadece gerekli olan kişisel verilerinizin,
                                    işbu gizlilik ve kişisel verilerin işlenmesi politikası uyarınca işlenmesini, kabul edip etmemek hususunda
                                    tamamen özgürsünüz. Siteyi kullanmaya devam ettiğiniz takdirde kabul etmiş olduğunuz tarafımızca
                                    varsayılacak olup, daha ayrıntılı bilgi için bizimle gaziemirfk@gmail.com e-mail adresi üzerinden iletişime
                                    geçmekten lütfen çekinmeyiniz.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

