@using Gfk.Mvc.Models.Entities;
@model UserEntity



<div class="container-fluid mt-5 pt-5">
    <div class="row justify-content-center align-items-center mt-5">
        <div class="col-md-6">
            <div class="card bg-light">
                <div class="card-body">
                    <partial name="~/Views/Shared/Partials/_Messages.cshtml" />

                    <h3 class="text-center mb-4">İletişim izinlerinizi geri çekmek için e-posta adresinizi doğrulayın</h3>

                    <form asp-controller="Auth" asp-action="ContactPermissionCanceling" method="post">
                        <div class="mb-3">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input asp-for="Email" readonly class="form-control-plaintext" id="staticEmail2" value="@Model.Email">
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Password</label>
                            <input asp-for="Password" class="form-control" id="inputPassword2" placeholder="Şifrenizi girin...">
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">İptal et</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>// Sayfa tamamen yüklendiğinde çalışacak fonksiyon
  window.addEventListener('DOMContentLoaded', (event) => {
    // Footer elementini seç
    var footer = document.querySelector('.sticky-bottom');

    // Footer mevcutsa ve 'sticky-bottom' sınıfına sahipse
    if (footer && footer.classList.contains('sticky-bottom')) {
      // 'sticky-bottom' sınıfını kaldır
      footer.classList.remove('sticky-bottom');

      // 'fixed-bottom' sınıfını ekle
      footer.classList.add('fixed-bottom');
    }
  });</script>
