html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}
#pageButtonsFonts {
    font-size : small
}
#navbarFont {
    font-size : large;
    font-weight : 600;
}











